{%extends 'base.html'%}
{%load static %}

{%block contenido%}
<link rel="stylesheet" href="{% static 'css/eventos.css' %}">


<div class = "my-body" style="text-align:center; margin-top: 100px;">
		<div id="container">
			<ul class="slider">
						
				<li id="slide1">
					<img src="{% static 'img/eventos.png' %}">
				</li>

				<li id="slide2">
					<img src="{% static 'img/proximamentee.png' %}">
				</li>
						
				<li id="slide3">
					<img src="{% static 'img/granjuntadacriollaa.png' %}">
				</li>
			</ul>

				<ul class="menu">
			    	<li>
			      		<a href="#slide1">1</a>
			    	</li>
			    	<li>
			      		<a href="#slide2">2</a>
			    	</li>
			     	<li>
			      		<a href="#slide3">3</a>
			    	</li>
			  	</ul>
		</div>
		
		<div id="container2">
			<div class="container2 py-10 px-10">
				<h1>Eventos de nuestra comunidad</h1><br>
		      		
		      	<h5>Dentro de nuestro apartado de eventos deseamos mostrarte los mismos a realizar y realizados dentro de las Comunidades Ecleciales de Base</h5><br>
		      			
				<h4> <i class="fa-solid fa-calendar-days"></i> CALENDARIO </h6><br>

				<h6> Nuestros eventos realizados los encontraras en los siguientes links en nuestro grupo de Facebook:</h6><br>
		      		
		      	<h6> DOMINGO, 24 DE FEBRERO DE 2019 </h6>
		      			
		      	<a href="https://www.facebook.com/events/2148033758587395/?acontext=%7B"event_action_history"%3A[%7B"surface"%3A"group"%7D]%7D">*6° Hormigazo - ¡Bajen Las Armas, Aquí Sólo Hay Pibes Comiendo!</a>
		      		
		      	<h6> DOMINGO, 25 DE FEBRERO DE 2018 </h6>	
		      		
		      	<a href="https://www.facebook.com/events/170949313543353/?acontext=%7B"event_action_history"%3A[%7B"surface"%3A"group"%7D]%7D">Subite, animate y pedaleá, vamos a dar una vuelta en la bicicleta de Pocho</a>

		      	<h6> DOMINGO, 26 DE FEBRERO DE 2017 </h6>
		      		
		      	<a href="https://www.facebook.com/events/221740204965203/?acontext=%7B"event_action_history"%3A[%7B"surface"%3A"group"%7D]%7D">“Su Recuerdo se Expande y su Ejemplo se Multiplica”</a>

		      	<h4><br> Nuestras redes</h4>
		      		
		      	<a href="https://www.instagram.com/elangeldelabicicletacastelli/?igshid=YmMyMTA2M2Y%3D">¡Instagram!</a>
		      	<h4> </h4>
		      	<a href="https://www.facebook.com/groups/498186250237283/?ref=share">¡Facebook!</a>
	      	</div>
			 
	  	</div>			
	</div>

{%endblock contenido%}
