{%extends 'base.html'%}
{%load static %}

{%block contenido%}
<h2 class="p-2" style="text-align:center;margin-top:100px;">Noticias</h2>

<div class="container"style="max-width: 1100px;">
  <hr class="border border-primary border-2 opacity-50">
    <!---Filtrado-->
  <div class="d-flex justify-content-end pb-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar
      </button>
      <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{%url 'noticias:listar_noticiasporFecha'%}">Más recientes</a></li>
      <li><a class="dropdown-item" href="{%url 'noticias:listar_noticias'%}">Más Antiguas</a></li>
      <li><a class="dropdown-item" href="{%url 'noticias:listar_noticiasPatronales'%}">Patronales</a></li>
      <li><a class="dropdown-item" href="{%url 'noticias:listar_noticiasSociales'%}">Sociales</a></li>
      </ul>
    </div>
  </div>
 
  <!----------------------->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {%for post in posts%}
        <div class="col">
          <div class="card shadow border" >
            <img src="{{post.imagen.url}} " class="card-img-top" alt="..." style="max-height: 500px;">
            <div class="card-body">
              <h6 class="list-group-item">{{post.creado}}</h6>
              <h5 class="card-title">{{ post }}</h5>
              <p class="card-text">{{ post.TextCorto }}.</p>
              
              <a type="button" class="btn btn-outline-primary" href="{%url 'noticias:MostrarNoticia' post.id %}">Saber más...</a>

            </div>
          </div>
        </div>
        {%endfor%}
    </div>
</div>
<!---Pagination-->
<br>
<br>
<nav aria-label="..." style="background-color:transparent;">
  <ul class="pagination justify-content-center">

    {%if posts.has_previous%}
    <li class="page-item">
      <a class="page-link" href="?page=1">Primera</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{posts.previous_page_number}}">&laquo;</a>
    </li>
    {%endif%}

    {%for pagina in paginas%}
    <li class="page-item">
      <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
    </li>
    {%endfor%}
    
    {%if posts.has_next%}
    <li class="page-item">
      <a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Ultima</a></li>
    {%endif%}
    
  </ul>
</nav>
{%endblock contenido%}